<mat-toolbar color="primary" class="main-nav">
    <span>Rocky Mountain Meeples</span>
    <span class="spacer"></span>
    <button mat-icon-button class="register" matTooltip="Stay Updated!" (click)="viewRegister()">
        <mat-icon>email</mat-icon>
    </button>
</mat-toolbar>
<br />
<div *ngIf="showRegister">
    <form #registerForm="ngForm" class="user-register">
        <h3>No Spam! Just Weekly Updates!</h3>
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td><mat-form-field class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input matInput [(ngModel)]="email" name="email">
                    </mat-form-field></td>
                <button mat-raised-button (click)="ui.registerUser(email); viewRegister()">Register Email</button>
            </tr>
        </table>
    </form>
</div>