<mat-toolbar color="primary" class="main-nav">
    <span>GitIt</span>
    <span class="spacer"></span>
    <button mat-icon-button class="register" matTooltip="Register" (click)="viewRegister()">
        <mat-icon>account_box</mat-icon>
    </button>
    <button mat-icon-button class="login" matTooltip="Sign In" (click)="viewLogin()">
        <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>
<br />
<div *ngIf="showRegister">
    <form #registerForm="ngForm" class="user-register">
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td><mat-form-field class="example-full-width">
                        <mat-label>User Name</mat-label>
                        <input matInput placeholder="Seen by all users" [(ngModel)]="userName" name="userName">
                    </mat-form-field></td>
                <td><mat-form-field class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input matInput [(ngModel)]="email" name="email">
                    </mat-form-field></td>
                <td><mat-form-field class="example-full-width">
                        <mat-label>Password</mat-label>
                        <input matInput [(ngModel)]="password" name="password">
                    </mat-form-field></td>
                <button mat-raised-button (click)="ui.registerUser(userName, email, password)">Register</button>
            </tr>
        </table>
    </form>
</div>
<div *ngIf="showLogin">
    <form #registerForm="ngForm" class="user-register">
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td><mat-form-field class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input matInput [(ngModel)]="email" name="email">
                    </mat-form-field></td>
                <td><mat-form-field class="example-full-width">
                        <mat-label>Password</mat-label>
                        <input matInput [(ngModel)]="password" name="password">
                    </mat-form-field></td>
                <button (click)="ui.logIn(email, password)" mat-raised-button>Sign In</button>
            </tr>
        </table>
    </form>
</div>