.blog {
    max-width: 600px;
    margin: 20px;
}

.footer {
    display: flex;
    padding-left: 10px;
}

.spacer {
    flex: 1 1 auto;
}

.views {
    margin-right: 20px;
}

.comments {
    margin-right: 20px;
}